<!DOCTYPE html>
<html>
    <head>
        <title>在线聊天室</title>
        <meta charset="UTF-8">
        <link rel="Shortcut Icon" href="__STATIC__/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__STATIC__/css/bootstrap-theme.css">
        <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
        <link rel="stylesheet" href="__STATIC__/css/login.css"/>
        <style type="text/css">
            .list-group-item .badge{
                background-color: #FF2222;
                margin-left: 10px;
            }
            .textBox{
                width: 100%;
                height: 400px;
                overflow-y :auto
            }
            .getMsg #time{
                color: blue;
            }
            .sendMsg #time{
                color: green;
            }
            #modifyPassword .modal-body .input-group{
                margin-bottom:10px;
                width:80%;
            }
            #modifyPassword  .error{
                margin-left: 35px;
                padding-left: 0px;
            }
            #modifyPassword .button{
                margin-top: 20px;
                margin-left: 250px;
            }
        </style>
        <script>
            var $user = {$Request.session.user};
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#example-navbar-collapse">
                                <span class="sr-only">切换导航</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">onlineChat</a>
                        </div>
                        <div class="collapse navbar-collapse" id="example-navbar-collapse">
                            <ul class="nav navbar-nav navbar-right"> 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user pull-right"></span>
                                        {$Request.session.user.username}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modifyInfo">修改资料</a></li>
                                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modifyPassword">修改密码</a></li>
                                    </ul>
                                </li>
                                <li><a href="/index/User/logout"><span class="glyphicon glyphicon-log-in pull-right"></span>退出聊天室</a></li> 
                            </ul> 
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            在线用户
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" id="onlineList">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer navbar-fixed-bottom ">                
            <span class="close">仅供内部测试</span>
        </footer>
        <div class="modal fade" id="chatBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            <span id="username"></span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="textBox" id="textBox">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="messageText" required="required">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="sendMsg()" id="sendButton">发送</button>
                            </span>
                        </div>                   
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="modal fade" id="modifyInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改资料</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="请输入新用户名"  name="username" id="newUsername">
                        </div>
                        <div class="error"><span id="nameError"></span></div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" class="form-control" placeholder="请输入新邮箱"  name="email" id="newEmail">
                        </div>
                        <div class="error"><span id="emailError"></span></div>
                        <div class="radio">
                            <span>性别：</span>
                            <label>
                                <input type="radio" name="sex"  value="0" checked>男
                            </label>
                            <label>
                                <input type="radio" name="sex"  value="1" >女
                            </label>
                            <button type="button" class="btn btn-default" onclick="modifyInfo()">提交信息
                            </button>
                        </div>
                    </div>           
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->  
        </div>
        <div class="modal fade" id="modifyPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            密码修改
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="oldPassword" placeholder="请输入旧密码"/>
                        </div>                          
                        <span class="error"><span id="oldPswError"></span></span>
                        <div class="input-group">
                            <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="请输入新密码"/>
                        </div>
                        <span class="error"><span id="newPswError"></span></span>

                        <div class="input-group">
                            <input type="password" class="form-control"  name="qPassword" id="qPassword"  placeholder="请确认新密码"/>
                        </div> 
                        <span class="error"><span id="qPswError"></span></span>
                        <div class="button">
                            <button class="btn btn-default" onclick="modifyPsw()">修改</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </body>
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/bootstrap.min.js"></script>
    <script src="__STATIC__/js/chat.js"></script>
</html>
