<!DOCTYPE html>

<html>
    <head>
        <title>登录聊天室</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Shortcut Icon" href="/favicon.ico" />
        <script src="__STATIC__/js/jquery.min.js"></script>
        <link rel="stylesheet" href="__STATIC__/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="__STATIC__/css/login.css"/>
        <script src="__STATIC__/js/bootstrap.min.js"></script>
        <script src="__STATIC__/js/login.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default center-block" id="loginBox">
                    <div class="panel-body">
                        <div class="form-group">
                            <h3 class="text-center text-muted"><span class="glyphicon glyphicon-comment" id="icon" ></span>登录在线聊天室</h3>
                        </div>
                        <div class="emailBox">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="邮箱"  name="email" id="email">
                            </div>
                            <div class="error"><span id="emailError"></span></div>
                        </div>
                        <div class="pswBox">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" placeholder="密码"  name="password" id="password">
                            </div>
                            <div class="error"><span id="pswError"></span></div>

                        </div>
                        <div class="buttonBox">
                            <button class="btn btn-default" id="loginButton" onclick="login()">登录</button>
                        </div>
                        <hr>
                        <div style="text-align: center;"><a href="javascript:void(0)"><span class="text-muted" data-toggle="modal" data-target="#register">注册成为会员<span class="glyphicon glyphicon-send"></span></span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">注册</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="请输入新用户名"  name="username" id="rusername">
                        </div>
                        <div class="error"><span id="rnameError"></span></div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="email" class="form-control" placeholder="请输入新邮箱"  name="email" id="remail">
                        </div>
                        <div class="error"><span id="remailError"></span></div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" placeholder="密码"  name="password" id="rpassword">
                        </div>
                        <div class="error"><span id="rpswError"></span></div>
                        <div class="radio">
                            <span>性别：</span>
                            <label>
                                <input type="radio" name="sex"  value="0" checked>男
                            </label>
                            <label>
                                <input type="radio" name="sex"  value="1" >女
                            </label>
                            <button type="button" class="btn btn-default" onclick="register()">提交信息</button>
                        </div>

                    </div>           
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </body>
</html>
